{{ define "main" }}
<section class="home-hero">
  <h1>{{ .Site.Params.author }}</h1>
  <p class="subtitle">{{ .Site.Params.description }}</p>
  {{ partial "socials.html" . }}
</section>

{{ $posts := where .Site.RegularPages "Section" "blog" }}
{{ if $posts }}
<section class="recent-posts">
  <h2>Recent posts</h2>
  <ul class="post-list">
    {{ range first 3 $posts }}
    <li class="post-item">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <time>{{ .Date.Format "January 2, 2006" }}</time>
    </li>
    {{ end }}
  </ul>
  <a href="/blog/" class="more-link">All posts &rarr;</a>
</section>
{{ end }}
{{ end }}
